$space-large: 4.5rem;
$title-color: #555;
$bkg-img: url('/assets/img/clouds.jpg');

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

input[type=search] {
  box-shadow: none;
}

body {
  background-color: lightblue;
  background-image: $bkg-img;

}
