@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Shadows+Into+Light|Vollkorn');



$space-large: 5rem;
$dark-sky: #002841;
$title-color: #fff7ee;
$bkg-img: url('../assets/img/clouds.jpg');
$header-font-family: "Architects Daughter", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;


.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
  font-family: $header-font-family;
}

input[type=search] {
  box-shadow: none;
}

body {
  background-color: #2a566e;
  background-image: $bkg-img;
  background-size: cover;

}

.container, .message{
  background: rgba(254, 254, 254, .75);
  border: 2px $dark-sky solid;
  border-radius: 10px;
  padding: 35px;
}

.message{
  border: 1px #2199e8 solid;
}

 #error-modal{
   background: rgb(254, 254, 254);
   color: $dark-sky;
   padding: 35px;
 }

 .top-bar-dark{
   padding: 2rem;
 }

 .top-button{
   margin: 1rem;
   margin-top: 0rem;
 }

 .menu-text{
   color: $dark-sky;
 }
